<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 4% 0;
        min-height: 200px;
        align-items: center;
      }
      h1 {
        font-family: Arial, Helvetica, sans-serif;
      }
      .logo {
        width: 300px;
        height: 158px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Ansible_logo.svg/250px-Ansible_logo.svg.png"
          alt="Ansible logo"
        />
        <h1>This site was deployed with Ansible on</h1>
        <img
          class="logo"
          src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png"
          alt="AWS logo"
        />
      </div>
    </div>
  </body>
</html>
